<div class="input-group input-daterange">
    <input id="fromDate" type="text" class="form-control"/>
    <span class="input-group-addon">to</span>
    <input id="toDate" type="text" class="form-control"/>
</div>
