<!DOCTYPE html>
<html>
    <head>
        <% include meta %>
        <title><%= title %></title>
        <% include style %>
    </head>
    <body>
        <% include navigation %>

        <div class="container">
            <% include home %>
        </div>

        <% include variables %>
        <% include scripts %>
    </body>
</html>
